<div>
    <h2>ng class directive</h2>
    <!-- <div [ngClass]="'first'">style using ngclass</div>  -->
    <!-- <div [ngClass]="['first','second']">style using ngclass</div> -->
    <!-- <div [ngClass]="'first second'">style using ngclass</div> -->
    <!-- <div [ngClass]="{first:true,second:true}">style using ngclass</div> -->
    <!-- <div [ngClass]="ob">style using ngclass</div> -->
    <div [ngClass]="ob">style using ngclass</div>
    <button (click)="displayFirst()">first</button>
    <button (click)="displaySecond()">Second</button>
</div>

