<!-- <div>
    <h2>Learning ngswitch example</h2>
    <div [ngSwitch]="num">
        <div *ngSwitchCase="1"><h2>one</h2></div>
        <div *ngSwitchCase="2">Two</div>
        <div *ngSwitchCase="3">Three</div>
        <div *ngSwitchCase="4">Four</div>
       <div *ngSwitchDefault="">choice wrong</div>
    </div>


</div> -->



<!-- 
<div>
    <h2>Learning ngswitch example</h2>

    <select [(ngModel)]="num">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>

    <div [ngSwitch]="num">
        <div *ngSwitchCase="1"><h2>one</h2></div>
        <div *ngSwitchCase="2">Two</div>
        <div *ngSwitchCase="3">Three</div>
        <div *ngSwitchCase="4">Four</div>
       <div *ngSwitchDefault="">choice wrong</div>
    </div>


</div> -->


<div>
    <h2>Learning ngswitch example</h2>
    <div [ngSwitch]="day">
        <div *ngSwitchCase="'Monday'"><h2>Monday</h2></div>
        <div *ngSwitchCase="'Tuesday'">Tuesday</div>
        <div *ngSwitchCase="'Wednesday'">Wednesday</div>
        <div *ngSwitchCase="'Thursday'">Thursday</div>
       <div *ngSwitchDefault="">choice wrong</div>
    </div>


</div>